.clear{overflow: hidden;}


.icon-color{
  color: white !important;
}
#first{background: whitesmoke;
    padding: 0px; }
.navbar .container-fluid{
    padding: 5px 100px 5px;

}
.navbar ul a{
    font-size: 17px;
}
.navbar ul a:hover{
    color: rgb(232, 80, 144);
}
.row .h3{
  background: white;
}
.mainsection{
  background-color: #eee;
}
.mainsection .container {margin-top: 25px;
  margin-bottom: 25px;}
.mainsection .container .row{
}
#left{
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #6d6a6a;
  height: auto;
 

}
#right{
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #6d6a6a;
  height: auto;
  width:22%;
  margin-left: 20px;
 
}
.col-lg-4 li{
  list-style: none;
  text-decoration: none;
}
.col-lg-4 a{
  text-decoration: none;
  color: black;
  line-height: 50px;
}
#popularjob{
  background:rgba(12, 214, 113, 0.447);
  padding: 14px 14px 14px;
  margin: 10px;
  width: 100%;


}

.col-md-6 a{text-decoration: none;  color: black;}
.col-md-6 a:hover{
  color:green;
}
/* .mainsecond{background:gray; height:500px} */
.footersection .card{
    background:springgreen;border-radius: 0px;line-height: 10px;
}
.card-body h5{
    font-size: 17px;
    line-height: 15px;
  }

  /* .col-md-2{
    margin: 5px;
    margin-top: 5px;
  background: floralwhite;
  height: 100px;
  border-radius: 4px;
  padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
  border: 1px solid;
  } */
.mb-3 i {
    cursor: pointer;
    padding-right: 15px;
}