
*{
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
}
.clear{overflow: hidden;}

.mainsection{
  background-color: #eee;
  font-family: sans-serif;
  font-weight:550;
  font-size: 0.87rem;
}
.mainsection .container {
  margin-top: 25px;
  margin-bottom: 25px;}
.mainsection .container .row .fs-4{
  font-size: 16px;
  color: #2a5992;
  font-weight: 700;
  padding-left:1.5rem;
  padding-top:1rem;
}
#left{
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #6d6a6a;
  height: auto;
 

}
#right{
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #6d6a6a;
  height: auto;
  width:22%;
  margin-left: 20px;
 
}
.col-lg-4 li{
  list-style: none;
  text-decoration: none;
}
.col-lg-4 a{
  text-decoration: none;
  color: black;
  line-height: 50px;
}
#popularjob{
  background:rgba(12, 214, 113, 0.447);
  padding: 14px 14px 14px;
  margin: 10px;
  width: 100%;


}

.col-md-6 a{text-decoration: none;  color: black;}
.col-md-6 a:hover{
  color:green;
}

.mainsection .col-lg-4 .card .mb-4 .row ul,li,a{
  list-style:none !important;
  text-decoration: none !important;
}


/* .mainsecond{background:gray; height:500px} */
.footersection .card{
    background:springgreen;border-radius: 0px;line-height: 10px;
}
.card-body h5{
    font-size: 17px;
    line-height: 15px;
  }

.mb-3 i {
    cursor: pointer;
    padding-right: 15px;
}

.column-margin{ margin-right: 20px; 

}
/*Style for Carousel*/

.carousel-item {
  transition: transform 2s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2s;
}
/* footer start */


.footer {
  padding: 2.5rem 0;
  background-color: #1e232c !important;
  position:sticky;
  
}
#footermargin{
  margin-left: 50px;
} 

.footer-col {
  flex-basis: calc(33.333% - 2rem);
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.footer-col h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  padding-left: 10px;
}

.footer-col ul li {
  margin-bottom: 0.25rem;
  list-style: none;
}

.footer-col ul li a {
  color: #dce6ed;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-col ul li a:hover {
  color: #007bff;
}

.contact-us {
  flex-basis: calc(33.333% - 2rem);
  margin-right: 2rem;
  text-align: center;
}



.contact-us button {
background-color: #4CAF50;
color: white;
border: none;
border-radius: 5px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.contact-us button:hover {
background-color: #3e8e41;
}

/* footer end */


@media (min-width: 768px) {
  .custom-margin-md {
      margin-left: 1rem;
  }
}

@media (min-width: 992px) {
  .custom-margin-lg {
      
  }
}