#first{background: whitesmoke;
    padding: 0px; }
.header{background: black;
    height: 40px;
    margin-bottom: 0px;
    margin-top: -16px;}
.navsection{
    background:springgreen;
}
.navbar .container-fluid{
    padding: 5px 100px 5px;

}
.navbar ul a{
    font-size: 20px;
}
.funcatname{
    float: left;
    background-color: aliceblue;
    padding: 8px 40px 5px;
    line-height: 30px;
    width: 600px;
    margin-left: 150px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
  margin-bottom: 10px;
}
.govmentjob{padding:8px 40px 5px;
    background-color: beige;
    float: right;
    margin-right: 150px;
    width: 382px;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
  margin-bottom: 10px;
}
.footersection .card{
    background:springgreen;border-radius: 0px;line-height: 10px;
}
.card-body h5{
    font-size: 17px;
    line-height: 15px;
  }
